:root {
    --ds-text: #fdfdfd; /* New value for --ds-text */
    --ds-border: rgba(255, 255, 255, 0);
  }

.browser
{
    background-color: rgb(58, 58, 58);
   
}

.row {
    color : white !important;
}

div[role="rowgroup"] div[role="row"]:hover {
    background-color: red;
}