.finder{
    display: flex;
    flex-direction: column;
}

.finder .file {
    display: flex;
    border-bottom: 1px solid #484848;
}

.finder .file:last-child{
    border-bottom: none !important;
}

.fileLogo {
    padding: 20px;
}

.fileContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.fileLogo > svg {
    height: 50px;
}

.fileAction {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .fileAction:first-child {
    border-top-right-radius: 10px;
} */

.fileAction:hover {
    background-color: rgb(77, 77, 77);
}

.finder .file:first-of-type .fileAction:hover{
    border-top-right-radius: 10px;
}

.finder .file:last-of-type .fileAction:hover{
    border-bottom-right-radius: 10px;
}


.fileAction > svg {
    height: 15px;
    padding: 20px;
}